<h1>About us</h1>
<div class="jumbotron about">
	<div class="container">
		<p>At SoulTechs, we believe you can optimize your online business by taking data-backed decisions and use quantitative data to make changes to your web page. We are here to help you achieve your goals and we believe we can work together to make your business successful. </p>

		<p>
			Our Mission is make your online business more profitable by helping you make decisions by using analytics and data-backed information.
		</p>
		<p> We partner with Optmizely to make sure our customers have the best A/B testing tool in the market. We will work closely with the Optmizely team to make sure you have the best results.</p>

	</div>
</div>

<div class="container">
<p> If you are interested in partner with us and start taking the advantage of A/B Testing, please contact us at <a href="mailto:soultechsllc@gmail.com">contact@soultechs.com</a>
