<div class="jumbotron">
      <div class="container">
        <h1>Soultechs</h1>
        <p>Making your business more profitable with A/B testing</p>
        			<div class= "right">
        				<a href ="about" class="btn btn-primary"> Learn more </a>
        			</div>		
      </div>
    </div> 
    <div class="neighborhood-guides">
        <div class="container">
            <h2>What is A/B testing?</h2>
            <p>A/B testing is a simple way to test changes to your page against the current design and determine which ones produce positive results. It is a method to validate that any new design or change to an element on your webpage is improving your conversion rate before you make that change to your site code.

Testing takes the guesswork out of website optimization and enables data-backed decisions that shift business conversations from “we think” to “we know.” By measuring the impact that changes have on your metrics such as sign-ups, downloads, purchases, or whatever else your goals may be, you can ensure that every change produces positive results. Quantitative data speaks for itself. You and your coworkers may have hunches about how site visitors will respond to certain design elements; A/B testing allows you to show visitors two versions of the same page and let them determine the winner. Constantly testing and optimizing your page can increase revenue, donations, leads, registrations, downloads, and user generated content, while providing teams with valuable insight about their visitors.</p>
            
                <div class="container">              
	                    <div class="thumbnail">
	                        <img src="http://goo.gl/ywCZag">
	                    </div>
                    
                </div>
            
            
        </div>
    </div>