<html lang="pt-br">
    <div class="jumbotron">
          <div class="container">
            <h1><img src="https://s3.amazonaws.com/soultechs.com/logo_soultechs_grey.png" alt="Soultechs logo" /></h1>
            <div class= "homeparagraph"> 
            <p>Fazendo seu negócio mais lucrativo com Teste A/B</p>
            </div>
            			<div class= "right">
            				<a href ="pt_sobre" class="btn btn-primary"> Saiba mais </a>
            			</div>		
          </div>
        </div> 
        <div class="neighborhood-guides">
            <div class="container">
                <h2>O que é um teste A/B?</h2>
                <p>O teste A/B é uma maneira simples de testar alterações à sua página contra o desenho atual e determinar quais as que produzem resultados positivos. É um método para validar que qualquer novo desenho ou mudança de um elemento na sua página web está a melhorar a sua taxa de conversão, antes de fazer essa alteração no seu código do site.

O teste retira a componente das suposições da otimização do site e permite a tomada de decisões apoiadas em dados que alteram conversas de negócios de "nós pensamos" para "nós sabemos." Ao medir o impacto que as mudanças têm nos seus parâmetros, tais como inscrições, descargas, compras, ou quaisquer objetivos que tenha, você pode garantir que cada alteração produz resultados positivos. Os dados quantitativos falam por si. Você e os seus colegas podem ter palpites sobre como os visitantes do site responderão a determinados elementos de desenho; os testes A/B permitem-lhe mostrar aos visitantes duas versões da mesma página e deixá-los escolher a vencedora. Ao testar e otimizar constantemente a sua página pode aumentar o rendimento, doações, comandos, inscrições, descargas e conteúdo gerado pelo utilizador, enquanto oferece às equipas informações valiosas sobre os seus visitantes.</p>
                
                    <div class="container">              
    	                    <div class="thumbnail">
    	                        <img src="http://goo.gl/ywCZag">
    	                    </div>
                        
                    </div>
                
                
            </div>
        </div>
</html>
