<html lang="pt-br">
	<h1> Entre em contato conosco</h1>

	<p> Se você quer discutir oportunidades conosco, por favor envie-nos um e-mail e nós entraremos em contato com você.</p>

	<address>
	  <strong>SoulTechs, LLC</strong><br>
	  <a href="mailto:contact@soultechs.com">contact@soultechs.com</a>
	</address>
</html>