<html lang="pt-br">
	<h1>Sobre a Soultechs</h1>
	<div class="jumbotron about">
		<div class="container">
			<p>Na SoulTechs, nós acreditamos que podemos otimizar seu negócio usando informações baseadas em dados reais e usar dados quantitativos para fazer melhorias na sua página web. Nosso propósito é ajudar você atingir seus objetivos e iremos trabalhar em equipe para tornar seu negócio lucrativo.</p>

			<p>
				 Nossa missão é fazer seu negócio online lucrativo ajudando nossos clientes a tomarem decisões baseadas em ferramentas ana;íticas e usando dados em tempo real.
			</p>
			<p> Nós trabalhamos junto com a <a href="www.optimizely.com">Optimizely</a> para ter certeza que nossos clientes estão usando a melhor ferramente de teste A/B disponível no mercado. </p>

		</div>
	</div>

	<div class="container">
	<p> Se você está interessado em trabalhar conosco e começar a usar as vantagend de testes A/B, envie-nos um email para <a href="mailto:contact@soultechs.com">contact@soultechs.com</a> </p>	
	</div>
</html>